html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    font-family: Arial;
}

.viewport {
    width: 100%;
    height: 300%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /*pointer-events: none; 去掉这句话*/
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    position: relative;
}

.pageview {
    -webkit-box-flex: 1;
    height: 100%;
}

h3 {
    text-align: center;
    font-family: Microsoft YaHei, Arial;
    color: #fff;
    font-size: 1.7em;
    font-weight: normal;
    padding: 1em 0;
    margin: 0;
}

@media screen and (max-width: 360px) {
    html, body {
        font-size: 15px
    }
}

@media screen and (min-width: 360px) and (max-width: 400px) {
    html, body {
        font-size: 16px
    }
}

@media screen and (min-width: 400px) and (max-width: 460px) {
    html, body {
        font-size: 18px
    }
}

@media screen and (min-width: 460px) {
    html, body {
        font-size: 24px
    }
}