.header-placeholder {
    height: 88px;
    display: block;
}

.header {
    position: fixed;
    z-index: 99;
    top: -1px;
    left: 0;
    width: 100%;
    height: 88px;
    line-height: 88px;
    background-color: #877be7;
    text-align: center;
    font-size: 34px;
    color: #fff;
    /*border-bottom: 1px solid #d8d8d8;*/
}

.btn {
    display: block;
    float: left;
    width: 80px;
    height: 88px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAsCAYAAACQXhN9AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARZJREFUeNq02EEKwjAQBdDoBUTpxhMU6q5n8IrewLUIutMzuK2XsOIJ4oy0WEraTDJ/Ah9Cu3iQ0GSmznvvwKkoly48d2igprz8f/C8XPwkzKgpN8pm9Py4NAZ4fCyWaDielMIa2Go3XgRoEDGQiyQBOUgykIpkASlINiBFVIAEUQMxBALMITBgCoECIQQOjBETYIgw0FoAPVJZAj1ysgQ4c9cv7PKPLVeDWq7YxjeIjTeHQh8jHJo6VqDQ3AEJg2JHPQSSXFpqSHr9qqCUQqK1LCTUUE5x11oWd9mQpuAWQ9rWQQQhmqAohGrn5qAC1f1yY3qnrAPvDqju90HZU96BdyuLnwXDpeN5iUY4O8qVcu7m7ivAANW0cljJ+Y2rAAAAAElFTkSuQmCC");
}

.sub-title {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 26px;
    right: 40px;
    height: 88px;
    color: #333;
}


